AUTH_GITHUB_ID =  285118ee7162670b3941
AUTH_GITHUB_SECRET =  eac992d33c4b5d8fe0c23b5cfabf2cc4e08903c5 
AUTH_NEXTAUTH_URL = http://localhost:3000
NEXT_PUBLIC_MONGO_URI = mongodb://localhost:27017
NEXT_PUBLIC_JWT_TOKEN = HarHarMahadev
AUTH_NEXTAUTH_SECRET =  3747af9efe8ac47d0fc4d7ccad27fa68a6ab54d76fa85285975bb78edc376f2c